* {
	font-family:'Karla', monospace;
}
body {
	background: url(images/debut_light.png);
	display: -ms-grid;
    display: grid;
  	grid-template-columns: 20% 20% 20% 20% 20%;
  	grid-template-rows: 20% 20% 20% 20% 20%;
}

h1, h2, h3, h5, h6 {
	font-family: 'Roboto Mono', monospace;
	font-weight: lighter;
}

strong {
	font-weight: bolder;
}

.inner {
	display: none;
	width: 100%;
}

.news_item {
	margin: 7px;
	display: inline-block;
	width: 14%;
	min-height:150px;
	max-height:200px;
	overflow: hidden;
	vertical-align: top;
}

#disasters .news_item {
	height: 30%;
	width: 24%;
	text-align: left;
	overflow: inherit;
	margin-top: 50px;
}

a {
	text-decoration: none;
	font-weight: bold;
	width:100%;
}

#buttons-mobile .row button h6 {
	vertical-align: middle;
}

#daily_snapshot, #yesterday_snapshot {
	margin:20px;
	text-align: left;
	width:85%;
	display:inline-block;
}

#buttons {
	text-align:center;
	/*width:100%;*/
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: -1;
}

.navbar, .navbar li {
	/*background-color:rgba(255, 255, 255, 0.2);*/
	display: inline-block;
	/*display: block;*/
	margin: 0px;
}

.navbar {
	background: linear-gradient(rgba(255, 255, 255, 0), black);
	width: 100%;
}

#buttons:focus, #buttons-mobile:focus {
	background-color:transparent;
}

#buttons button, #buttons-mobile button {	
	display:inline;
	color:white;
	text-align:center;
	border:0;
	height: 100%;
	margin: 0;
	padding: 0px 4px;
	border-radius: 0;
	margin-right:.5em;
	margin-left:.5em;
}

button:focus {
	color:white;
	font-weight: 700;
	text-decoration: none;
	border:0;
}

#ongoing {
	width:100%;
	margin:auto;
	text-align:center;
	grid-column-start: 2;
	grid-column-end: -1;
}
#ongoing-wars {
	text-align:center;
}

.background-image {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
/*    background: url(images/World_Night_Lights_Map.jpg) no-repeat center center;
	background-position:center;
	background-size:cover;*/
}

header {
	background-image: url("images/World_Night_Lights_Map.jpg");
	background-position:center;
	background-size:cover;
	color: white;
	width:100%;
	height: 240px;
	text-align:center;
	/*background-position: 50px;*/
	padding-top:20px;
	grid-column-start: 1;
	grid-column-end: -1;
}
header h1 {
	font-size: 4em;
	font-style: normal;
	margin-top: 35px;
	/*padding-top:16vrm;*/
}

#beginner {
	color: white;
}

h6 {
	color: white;
}

.fix {
  position: fixed;
}

p {
	margin-left: 50px;
	margin-bottom: 5px;
	text-align: left;
}

#about p {
	margin-top: 10px;
}

#about {
	width: 60%;
}

#about ul {
	text-align: left;
	margin-left: 50px;
}

#about ul li {
	margin: 0px;
}

#terrorlist1, #terrorlist2 {
	display: none;
}

h5 {
	font-size: 2.1em;
}

.button_zero h6 {
	text-decoration: underline;
}

#today-title {
	padding-bottom: 20px;
}

.navbar-fixed {
	top: 0;
	left: 0;
	position: fixed;
    width: 100%;
    background-color: black;
}

#ongoing img {
	position: relative;
	top: 5px;
	z-index: -1;
	padding-right: 4px;
}

/*submenu*/
#recent_sub_menu, #recent_sub_menu *, #ongoing_sub_menu, #ongoing_sub_menu * {
	display: none;
	padding: 0;
	margin: 0;
	text-align: center;
}
#recent_sub_menu, #ongoing_sub_menu {
	display: inline-block;
	position: absolute;
	width: 70px;
}
#recent_sub_menu button, #ongoing_sub_menu button {
	background-color: black;
	height: 30px;
	width: 130px;
	position: relative;
	left: -70px;
	padding: 2px;
}

#recent_sub_menu .last_submenu_item,
#ongoing_sub_menu .last_submenu_item {
	padding-bottom: 35px;
}

#ongoing_sub_menu button { 
	width: 90px;
	left: -50px; 
}

.show {
	display: inline-block !important;
}

ul li ul li h6 {
	font-size: 1em;
}

#bookmarkme-outer-div {
	width: 100%;
	text-align: center;
	grid-column-start: 2;
	grid-column-end: -1;
}

#bookmarkme:focus {
    color: #555;
    font-weight: 600;
    border: 1px solid #bbb;
}

.align-left {
	text-align: left;
	margin: auto;
	width: 85%;
	margin-top: 20px;
}

#snapshots {
	display: inline-block;
    /*background: url(images/debut_light.png);*/
}

#sidebar * {
	color: white;
	list-style: none;
}

#buttons {
	text-align: left;
	background-color: #0e1355;;
}

#buttons-mobile {
	grid-column-start: 1;
	grid-column-end: -1;
	text-align: center;
	background-color: black!important;
	display: none;
}

#sidebar ul li > h6 {
	margin-left: 1em;
}

/*FOOTER*/
footer {
	background-color: black;
	grid-column-start: 1;
	grid-column-end: -1;
	text-align: center;
	color: white;
}

/*make yesterday and today side-by-side if screen big enough*/
@media screen and (min-width: 940px) {
	#daily_snapshot, #yesterday_snapshot {
	    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    	-moz-column-count: 2; /* Firefox */
    	column-count: 2;
	}

	#daily_snapshot p, #yesterday_snapshot p, .news-category {
	 	-webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid;		
	}

}

@media screen and (max-width: 800px) {
	#buttons {
		display: none;
	}
	
	#buttons-mobile {
		display: inherit;
	}

	#ongoing {
		grid-column-start: 1;
		grid-column-end: -1;
	}
}

@media screen and (max-width: 860px) {
	.news_item {
		width: 30%;
	}

	#disasters .news_item img {
		margin-top: 40px;
	}

	#disasters .news_item {
		width: 43%;
	}
}

@media screen and (max-width: 480px) {
	#disasters .news_item {
		width: 80%;
	}
}