* {
	font-family:'Raleway', sans-serif;
}
body {
	background-image:url('images/greyzz.png');
}
h1 {
	font-size: 1.9em;
	text-align: center;
	font-style: italic;
	background-color:black;
	color:white;
	margin-bottom:0;
	padding:10px;
}

h2 {
	font-size: 1em;
	padding: 10px;
	margin: 0px;
}

.info {
	margin:auto;
}

.inner {
	display: none;
	width: 100%;
}

.news_item {
	margin: 10px;
	display: inline-block;
	width: 24%;
	max-height:200px;
	overflow:hidden;
}

a {
	text-decoration: none;
	font-weight: bold;
	width:100%;
}
#button {
	
} 

#daily_snapshot {
	margin:20px;
	text-align: left;
	display: none;
	width:75%;
}

/*#long-form {
	width: 40%;
	padding-left: 30%;
	padding-bottom: 10px;
}*/

#buttons {
	margin-left:0px;
	display:inline-block;
	background-color:black;
	height:100%;
}

button {	
	display:block;
	color:white;
	text-align:left;
	border:0;
	width:100%;
}

button:focus {
	outline-color: white;
	text-decoration: none;
	border:0;
}
button:hover {
	background-color:gray;
}

#ongoing {
	display:inline-block;

}

em {
	text-decoration: underline;
}
