* {
	font-family: Arial;
	font-size: .96em;
/*	color: green;
	background-color: purple;*/
}

h1 {
	font-size: 1.9em;
	text-align: center;
	font-style: italic;
}

h2 {
	font-size: 1em;
	padding: 10px;
	margin: 0px;
}

.info {
	float: left;
	width: 100%;
	height: 50%;
}

.inner {
	display: none;
	width: 100%;
}

.news_item {
	padding: 4px;
	margin: 1px;
	display: inline-block;
	float: left;
	width: 24%;
	height: 70px;
}

a {
	text-decoration: none;
	font-weight: bold;
}

#daily_snapshot {
	text-align: center;
	display: block;
	width: 60%;
	padding-left: 15%;
}

/*#long-form {
	width: 40%;
	padding-left: 30%;
	padding-bottom: 10px;
}*/

#buttons {
	margin-top: 40px;
	text-align: center;
}

button {
	background-color: white;
	margin: 0px;
	padding: 0px;
	margin-bottom: 20px;
	height: 50px;
	width: 200px;
	border: 0px;
}

button:focus {
	outline-color: white;
	border-bottom: 1px solid black;
}


#ongoing {
	padding-left: 100px;
}

em {
	text-decoration: underline;
}